<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 <description>
    This is a second-level bean factory that contains only one bean:
    another Spring application context. The purpose is to enable sharing
    of the Spring-managed beans in the service layer from more than one
    client (webapp).

  </description>
    <bean id="se.awesomoe.prod" class="org.springframework.context.support.ClassPathXmlApplicationContext">
        <constructor-arg>
             <list>
                  <value>classpath:/se/awesomoe/pm/spring-bootstrap.xml</value>
                    <value>classpath:/se/awesomoe/pm/spring-hibernate-mysql.xml </value>
                   <value>classpath:/se/awesomoe/pm/spring-productmanagement.xml</value>
        </list>
        </constructor-arg>
    </bean>

</beans>