<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	      http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
        >

    <context:component-scan base-package="se.awesomoe" />

     <bean id="databaseProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
             <property name="location" value="classpath:/database.properties"/>
       </bean>

    <bean
         id="dataSource1"
         class="org.apache.commons.dbcp.BasicDataSource"
         destroy-method="close"
         p:defaultAutoCommit="true"
         p:driverClassName="com.mysql.jdbc.Driver"
         p:url="jdbc:mysql://localhost:3306/awesomoe_pm"
         p:username="root"
         p:password="xGE3byeGtV"
         />





    <bean id="pmSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource1" />
        <property name="annotatedClasses">
            <list>
                <value>se.awesomoe.pm.domain.PMCategory</value>
                <value>se.awesomoe.pm.domain.PMProduct</value>
          </list>
        </property>
        <property name="hibernateProperties">
             <props>
                <prop key="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
             </props>
        </property>
    </bean>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
  <property name="sessionFactory" ref="pmSessionFactory" />
 </bean>

       <bean id="transactionManager"
         class="org.springframework.orm.hibernate3.HibernateTransactionManager">
 	        <property name="sessionFactory">
 	            <ref bean="pmSessionFactory" />
 	        </property>
 	    </bean>

       <bean id="passwordEncoder"
      class="org.acegisecurity.providers.encoding.Md5PasswordEncoder">
      <property name="encodeHashAsBase64" value="true" />
   </bean>




<!--
<tx:annotation-driven transaction-manager="transactionManager" />
-->



</beans>
