<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

  <description>
    Defines various caching related beans.
    
    Author: Lars Mellberg
  </description>

  <!-- =====================  Cache Manager ============================== -->

  <bean
    id="cacheManagerFactory"
    class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
    lazy-init="true"
    p:configLocation="classpath:/ehcache.xml"
    p:shared="true" />

  <!-- =====================  Cache Settings ============================== -->
  <!-- 
    Note: the default cache settings are in the CacheSettings class, the 
    XML here may override them 
  -->

  <bean
    id="testSettings"
    class="se.awesomoe.pm.cache.CacheSettings"
    p:name="test"
    p:numberOfElements="10000" />



  <bean
    id="urlMapSettings"
    class="se.awesomoe.pm.cache.CacheSettings"
    p:name="urlMapSettings"
    p:eternal="false"
    p:timeToLiveSeconds="1800"
    p:timeToIdleSeconds="1800" />

  <bean
    id="i18nSettings"
    class="se.awesomoe.pm.cache.CacheSettings"
    p:name="i18nSettings"
    p:eternal="false"
    p:timeToLiveSeconds="1800"
    p:timeToIdleSeconds="1800"
    p:numberOfElements="5000" />


  <bean
    id="defaultSettings"
    class="se.awesomoe.pm.cache.CacheSettings"
    p:name="defaultSettings"
    p:numberOfElements="5000" />

  <!-- This is where you map cache settings to a named cache -->

  <bean
    id="cacheFactory"
    class="se.awesomoe.pm.cache.CacheFactory"
    p:defaultSettings-ref="defaultSettings">
    <property name="settings">
      <map>
        <entry
          key="test"
          value-ref="testSettings" />
        <entry
          key="i18nSettings"
          value-ref="i18nSettings" />
        <entry
          key="urlMapSettings"
          value-ref="urlMapSettings" />
          </map>
    </property>
  </bean>

  <bean
    id="cacheProviderFacade"
    class="org.springmodules.cache.provider.ehcache.EhCacheFacade"
    p:cacheManager-ref="cacheManagerFactory" />

  <!-- ============ caching models ============== -->

  <util:properties id="cachingModelsProps">
      <prop key="se.awesomoe.pm.model.omorder.order">cacheName=se.awesomoe.pm.model.omorder.order.cache</prop>
      <prop key="e.awesomoe.om.web.ipcheck.callcache">cacheName=se.awesomoe.pm.web.ipcheck.callcache</prop>
       <prop key="se.awesomoe.web.ipcheck.callcache">cacheName=se.awesomoe.pm.web.ipcheck.callcache</prop>
       <prop key="se.awesomoe.util.admin.constants.cache">cacheName=se.awesomoe.util.admin.constants.cache</prop>
       <prop key="se.awesomoe.account.pspdisplay.trusted.cache">cacheName=se.tain.account.pspdisplay.trusted.cache</prop>
      <prop key="se.awesomoe.account.pspdisplay.psp.cache">cacheName=se.awesomoe.account.pspdisplay.psp.cache</prop>
        <prop key="se.awesomoe.pm.i18n.locale.cache">cacheName=se.awesomoe.pm.i18n.locale.cache</prop>
     </util:properties>

  <util:map id="flushingModels">
      <entry key="se.awesomoe.pm.i18n">
          <bean class="org.springmodules.cache.provider.ehcache.EhCacheFlushingModel"
                p:cacheNames="se.awesomoe.pm.i18n.locale.cache,se.awesomoe.pm.i18n.omlabel.cache"/>
      </entry>
      <entry key="se.awesomoe.util.admin.constants.cache">
          <bean class="org.springmodules.cache.provider.ehcache.EhCacheFlushingModel"
                p:cacheNames="se.awesomoe.util.admin.constants.cache"/>
      </entry>
  </util:map>

  <!-- ============ Annotation driven caching functionality ============== -->

  <bean
    id="cachingAttributeSource"
    class="org.springmodules.cache.annotations.AnnotationCachingAttributeSource" />

  <bean
    id="cachingInterceptor"
    class="org.springmodules.cache.interceptor.caching.MetadataCachingInterceptor"
    p:cacheProviderFacade-ref="cacheProviderFacade"
    p:cachingAttributeSource-ref="cachingAttributeSource"
    p:cachingModels-ref="cachingModelsProps"/>

  <bean
    id="cachingAttributeSourceAdvisor"
    class="org.springmodules.cache.interceptor.caching.CachingAttributeSourceAdvisor"
    p:order="50">
        <constructor-arg ref="cachingInterceptor"/>
    </bean>

  <!-- ============ Annotation driven flushing functionality ============== -->
    
  <bean id="flushingAttributeSource"
      class="org.springmodules.cache.annotations.AnnotationFlushingAttributeSource" />

  <bean
      id="flushingInterceptor"
      class="org.springmodules.cache.interceptor.flush.MetadataFlushingInterceptor"
      p:cacheProviderFacade-ref="cacheProviderFacade"
      p:flushingAttributeSource-ref="flushingAttributeSource"
      p:flushingModels-ref="flushingModels"/>

  <bean
      id="flushingAttributeSourceAdvisor"
      class="org.springmodules.cache.interceptor.flush.FlushingAttributeSourceAdvisor"
      p:order="50">
          <constructor-arg ref="flushingInterceptor"/>
  </bean>

  <!-- exporting cache pm to jmx-->
  <bean class="net.sf.ehcache.management.ManagementService" init-method="init">
    <constructor-arg ref="cacheManagerFactory" />
    <constructor-arg ref="se.awesomoe.pm.service" />
    <constructor-arg value="true" />
    <constructor-arg value="true" />
    <constructor-arg value="true" />
    <constructor-arg value="true" />
  </bean>

</beans>
